[Unit]
Description=Airflow scheduler daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=ticy
Group=ticy
Type=simple
ExecStart=/bin/bash -lc '/usr/local/bin/airflow scheduler >> /home/ticy/airflow/airflow-scheduler.out 2>> /home/ticy/airflow/airflow-scheduler.err'
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target