[core]
default_timezone = Asia/Taipei

executor = LocalExecutor,CeleryExecutor

# Do not load examples
load_examples = False

# Limit the pool to 1 slot to prevent resource exhaustion when the pool name is unspecified.
default_pool_task_slot_count = 1


[database]
sql_alchemy_conn = mysql+mysqldb://<user>:<password>@<node4_ip>:3306/airflow_db


[logging]
celery_logging_level = WARNING


[operators]
# Add "node-1" after "default"
default_queue = default,$HOSTNAME


[webserver]
default_ui_timezone = Asia/Taipei

worker_refresh_interval = 3600

workers = 2

# Specify log file and error
access_logfile = ${AIRFLOW_HOME}/airflow-webserver.log
error_logfile = ${AIRFLOW_HOME}/airflow-webserver.err

log_fetch_timeout_sec = 15

default_dag_run_display_number = 10

enable_swagger_ui = False

# Support Markdown
allow_raw_html_descriptions = True

require_confirmation_dag_change = True


[scheduler]
scheduler_zombie_task_threshold = 60

catchup_by_default = False


[celery]
# Because Celery connects to the Redis master through Sentinel, the username and password specified in the broker_url must be the same as the Redis master credentials.
broker_url = sentinel://airflow:redis123@<sentinel_node1_ip>:26379/0;sentinel://airflow:redis123@<sentinel_node2_ip>:26379/0;sentinel://airflow:redis123@<sentinel_node3_ip>:26379/0

result_backend = db+mysql://<user>:<password>@<ip>:3306/airflow_db

# username and password for Flower Web UI.
flower_basic_auth = <flower_user>:<flower_password>


[celery_broker_transport_options]
visibility_timeout = 7200

master_name = mymaster

# username and password for Redis Sentinel, which must be the same as "sentinel sentinel-user" and "sentinel sentinel-pass" in sentinel.conf
sentinel_kwargs = {"password": "sent123", "username": "airflow"}