[Unit]
Description=Airflow celery flower
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=<user>
Group=<user>
Type=simple
WorkingDirectory=/home/<user>/airflow/

ExecStart=/bin/bash -lc 'exec /usr/local/bin/airflow celery flower >> /home/<user>/airflow/airflow-flower.out 2>> /home/<user>/airflow/airflow-flower.err'

Restart=on-failure
RestartSec=5s

KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target