[Unit]
Description=Airflow scheduler daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=airflow
Group=airflow
Type=simple
WorkingDirectory=/home/<user>/airflow/

ExecStart=/bin/bash -lc 'exec /usr/local/bin/airflow scheduler >> /home/<user>/airflow/airflow-scheduler.out 2>> /home/<user>/airflow/airflow-scheduler.err'

Restart=always
RestartSec=5s

KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target