[Unit]
Description=Airflow webserver daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/airflow
User=<user>
Group=<user>
Type=simple
WorkingDirectory=/home/<user>/airflow/

ExecStart=/bin/bash -lc 'exec /usr/local/bin/airflow webserver -p 8080 --stdout /home/<user>/airflow/airflow-webserver.out'

Restart=on-failure
RestartSec=5s
PrivateTmp=true

KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target